@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.Board {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10vh 7vh;
	font-size: 7vh;
	font-family: 'Nanum Pen Script', cursive;
}

.Board-cards {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

.Card {
  width: 9vw;
  height: 12.5vw;
  background: #000;
  border-radius: 4px;
  margin: 0.2vw;
  display: flex;
  justify-content: center;
  align-self: center;
}

.CardTaken {
	visibility: hidden;
}

.CardImage {
	width: inherit;
	height: inherit;
}